<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="container w-full p-4">
            <section class="mx-auto w-full max-w-[900px] px-4 py-4 mx-auto">
                <div class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0">
                    <div>
                        <h2 class="text-lg font-semibold">Dashboard</h2>
                    </div>
                    <div>
                        <button
                        onclick="getUsers();"
                            type="button"
                            class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                        >
                            Refresh List
                        </button>
                        <button
                            onclick="logOut();"
                                type="button"
                                class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                            >
                                Log Out
                            </button>
                    </div>
                </div>
                <div class="mt-6 flex flex-col">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                            <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
                                                <span>Name</span>
                                            </th>
                                            <th scope="col" class="px-12 py-3.5 text-left text-sm font-normal text-gray-700">Email</th>
                                            <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">Password</th>
                                            <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200 bg-white" id="t-body-users"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="/client.js"></script>
    <script>
        function getUsers() {
            fetch("/users", {
                method: "GET",
                headers: { "content-type": "application/json" },
            })
                .then((res) => {
                    if(res.status !== 200) window.location.href = '/'
                    return res.json();
                })
                .then((json) => {
                    console.log(json);

                    if(json && !json.error) renderUsers(json);

                    if (json.message) alert(json.message);
                    if (json.error) alert(json.error);
                })
                .catch((err) => {
                    console.log(err);
                    alert(err);
                });
        }

        getUsers();

        function renderUsers(data) {
            let html = "";
            data.map((user) => {
                html += `
                <tr>
                              <td class="whitespace-nowrap px-4 py-4">
                                <div class="flex items-center">

                                  <div class="ml-4">
                                    <div class="text-sm font-medium text-gray-900">
                                      ${user.name}
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="whitespace-nowrap px-12 py-4">
                                <div class="text-sm text-gray-900 ">${user.email}</div>
                              </td>
                              <td class="whitespace-nowrap px-12 py-4">
                                <div class="text-sm text-gray-900 ">${user.password}</div>
                              </td>
                              <td class="whitespace-nowrap px-4 py-4 text-right text-sm font-medium">
                                <a onclick="deleteUser('${user.email}');" class="text-gray-700">
                                  Delete
                                </a>
                              </td>
                            </tr>
                `;
            });

            $("#t-body-users").innerHTML = html;
        }

        function deleteUser(email) {

            fetch("/users", {
                method: "DELETE",
                headers: { "content-type": "application/json" },
                body: JSON.stringify({
                    email
                }),
            })
                .then((res) => {
                    return res.json();
                })
                .then((json) => {
                    console.log(json);


                    if(json.error) return alert(json.error);

                    getUsers();

                    if (json.message) alert(json.message);
                    if (json.error) alert(json.error);
                })
                .catch((err) => {
                    console.log(err);
                    alert(err);
                });
        }
    </script>
</html>
